# Ignore everything except the src directory
/*
!/src/

# Ignore files in the root except src
!.gitignore

# Ignore common files and directories

node_modules/
dist/
build/
.env
*.log
*.tmp
.DS_Store
*.swp
.idea/
.vscode/
coverage/
*.bak
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
*.test.*
.classpath
*.spec.*
*.cache/
*.out
*.pyc
__pycache__/
*.iml
*.class
*.jar
*.war
*.zip
*.tar
*.gz
*.tgz
*.7z
*.exe
*.dll
*.so
*.pdb
*.db
*.sqlite
*.sublime-workspace
*.sublime-project
*.ipynb_checkpoints/

target/
bin/
.project
.apt_*
